<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MWLoaderPage.Properties.Settings.MWMotoConnectionString"
            connectionString="Data Source=DESKTOP-KK4F9K9\SQLEXPRESS;Initial Catalog=MWMoto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MWLoaderPage.Properties.Settings.ItemListDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-KK4F9K9\SQLEXPRESS;Initial Catalog=ItemListDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MWLoaderPage.Properties.Settings.ItemListConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ItemList.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>